<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i>
          <span>Users</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a ><i class="fa fa-circle-o"></i> List</a></li>
          <li><a ><i class="fa fa-circle-o"></i> New User</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i>
          <span>Ticket</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a ><i class="fa fa-circle-o"></i> List</a></li>
          <li><a ><i class="fa fa-circle-o"></i> New User</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i>
          <span>Summary</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a ><i class="fa fa-circle-o"></i> List</a></li>
          <li><a ><i class="fa fa-circle-o"></i> New User</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
